.main-nav {
  outline: 1px solid orange;
}

.banner {
  outline: 1px solid green;
}

// .intro {
//   outline: 1px solid red;
// }

.advantage {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.features-list {
  outline: 2px solid red;
  outline-offset: -2px;
}

// .map {
//   outline: 2px solid black;
//   outline-offset: -2px;
// }

.gallery {
  outline: 1px solid pink;
}

.photo {
  outline: 1px solid lightgreen;
}

// .page-footer {
//   outline: 1px solid cyan;
// }

// body {
//   background: url("../preview/sedona-photo-mobile.jpg") no-repeat top center;
// }

// .container {
//   opacity: 0.5;
// }


// @media (min-width: 768px) {
//   body {
//     background: url("../preview/sedona-photo-tablet.jpg") no-repeat top center;
//   }

//   .container {
//     opacity: 0.5;
//   }
// }

// @media (min-width: 1200px) {
//   body {
//     background: url("../preview/sedona-photo-desktop.jpg") no-repeat top center;
//   }

//   .container {
//     opacity: 0.5;
//   }
// }
