.main-nav {
  outline: 1px solid orange;
}

.banner {
  outline: 1px solid green;
}

.intro {
  outline: 1px solid red;
}

.advantages {
  outline: 1px solid gold;
}

.advantage {
  outline: 1px solid blue;
}

.gallery {
  outline: 1px solid pink;
}
