.advantage {
  .center();
}

.advantage--grey {
  padding: 10px 20px;
  background-color: #eeeeee;
}

.advantage__text-box {
  padding: 10px 20px;
}

.advantage__text-box--blue {
  color: #ffffff;
  background-color: @sedona-color;
}

.advantage__image-box {
  position: relative;
  height: 260px;
  width: 100%;
  overflow: hidden;
}

.advantage__image-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 768px;
  height: 100%;
  margin: 0;
}

.advantage__photo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
