.checkbox {
  position: relative;
  height: 56px;
  line-height: 56px;
  padding-left: 78px;
}

.checkbox__label {
  cursor: pointer;
}

.checkbox__label::before {
  .pseudo();
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 18px;
  width: 22px;
  height: 13px;
  box-sizing: border-box;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transform: rotate(-45deg);
  display: none;
}

.checkbox input:checked + .checkbox__label::after,
.checkbox--checked .checkbox__label::after {
  display: block;
}

.checkbox__label:hover::before {
  background-color: #e5e5e5;
}

.checkbox input:focus + .checkbox__label::before {
  outline: -webkit-focus-ring-color auto 5px;
}

.checkbox__label:active::before {
  background-color: #d5d5d5;
}

.checkbox input:checked + .checkbox__label:active::after {
  border-color: #a4a4a4;
}

@media (min-width: @desktop-width) {
  .checkbox {
    padding-left: 81px;
  }
}
