.menu {
  .list-reset();
  background-color: @sedona-color;
}

.menu__item {
  .center();
}

.menu__link {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}
