.page-main__header {
  overflow: hidden;
}

.page-main__banner--index {
  margin-bottom: 2px;
}

.page-main__intro {
  margin: 0 auto;
}

.page-main__booking {
  margin: 0 auto;
  margin-bottom: 42px;
}

.page-main__gallery {
  margin: 0 auto;
  margin-top: 10px;
}

.page-main__review {
  margin: 0 auto;
  margin-bottom: 32px;
}

.page-main__video {
  margin-bottom: 38px;
}


@media (min-width: @tablet-width) {
  .page-main__banner {
    margin-bottom: 24px;
  }

  .page-main__banner--index {
    margin-bottom: 11px;
  }

  .page-main__intro {
    margin-bottom: 26px;
  }

  .page-main__intro--inner {
    margin-bottom: 35px;
  }

  .page-main__booking {
    margin-top: 20px;
    margin-bottom: 53px;
  }

  .page-main__gallery {
    margin-top: 0;
    margin-bottom: 28px;
  }

  .page-main__video {
    margin-bottom: 40px;
  }


  .page-main__review {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__banner {
    margin-bottom: 61px;
  }

  .page-main__intro {
    margin-bottom: 8px;
  }

  .page-main__intro--inner {
    margin-bottom: 20px;
  }

  .page-main__advantages {
    margin-top: 18px;
  }

  .page-main__booking {
    margin-bottom: 60px;
  }

  .page-main__gallery {
    margin-top: 17px;
    margin-bottom: 32px;
  }

  .page-main__video {
    margin-bottom: 85px;
  }

  .page-main__review {
    margin-bottom: 66px;
  }
}
