.review {
  max-width: 520px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .review {
    max-width: 768px;
    padding: 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .review {
    max-width: 100%;
    padding: 0 120px;
  }
}
